<footer class="page-footer #2196f3 blue">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Jscourse</h5>
                <p class="grey-text text-lighten-4">
                    Una plataforma dedicada a las persona que quieren aprender 
                    mucho acerca de los temas que mandan la parada. La tecnologia revolucionará
                    lo que conocíamos como "Normal".
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">¿Estás perdido?</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Inscribir usuario</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Inscribir curso</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Ver usuario</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Ver curso</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Jscourse
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</body>

</html>