<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
        rel="stylesheet">

    <link rel="stylesheet" href="../public/styles.css">
    <title>JCourse</title>
</head>

<body>
    <header>
        <nav class="#2196f3 blue">
            <div style="width: 90%; margin: auto;" class="nav-wrapper">
                <a href="#" class="brand-logo">JCOURSE</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Inscribir usuario</a></li>
                    <li><a href="#">Inscribir curso</a></li>
                    <li><a href="#">Ver usuario</a></li>
                    <li><a href="#">Ver curso</a></li>
                </ul>
            </div>
        </nav>
    </header>