{{>header}}

<h1>Usuarios Registrados </h1>
<p> Aqui verás los Usuarios registrado en la plataforma</p>

<ul class="collapsible">
    {{{showCollapse}}}
</ul>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });
</script>
{{>footer}}