{{>header}}

<h1>Usuarios Registrados </h1>
<p> En esta seccion podrás pre matricular una persona a un curso disponible en la plataforma, si no sabes de alguno y
    estas interesado en saber más ve al inicio</p>

<ul class="collapsible">
    {{{showCollapse}}}
</ul>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });
</script>
{{>footer}}