{{>header}}

<h1>Usuarios Registrados </h1>
<p> En esta seccion podrás pre matricular una persona a un curso disponible en la plataforma, si no sabes de alguno y
    estas interesado en saber más ve al inicio</p>
<ul class="collapsible">
    <li>
        <div class="collapsible-header">NodeJs course</div>
        <div class="collapsible-body">
             <table>
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Identificacion</th>
              <th>Celular</th>
              <th>email</th>
              <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Juan Pablo</td>
            <td>100411381</td>
            <td>3052611730</td>
            <td>juanpahdz01@gmail.com</td>
            <td>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Eliminar
                </button>
            </td>
          </tr>
          <tr>
            <td>Juan Pablo</td>
            <td>100411381</td>
            <td>3052611730</td>
            <td>juanpahdz01@gmail.com</td>
            <td>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Eliminar
                </button>
            </td>
          </tr>
          <tr>
            <td>Juan Pablo</td>
            <td>100411381</td>
            <td>3052611730</td>
            <td>juanpahdz01@gmail.com</td>
            <td>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Eliminar
                </button>
            </td>
          </tr>
          
        </tbody>
      </table>
        </div>
    </li>
    <li>
        <div class="collapsible-header">Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header">Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });
</script>
{{>footer}}